.corpo{
    background-color: rgba(111, 153, 222, 0.677);
}
#principal{
    display: flex;
    align-items: center;
}
#principal h1{
    font-size: 70px;
    color: black;
    margin: 100px;
}
#principal p{
    padding-right: 120px;
}
#principal foto{
    box-shadow: 16px 12px 29px 12px;
    border-radius: 500px;
    background-color: rgb(228, 236, 3);
}
.hidden {
    display: none;
}
#mensagem-js {
    margin-top: 20px;
    font-size: 18px;
    color: #0a66c2;
    font-weight: bold;
}

.descricoes{
    background-color: whitesmoke;
    text-align: center;
    border-radius: 15px;
    font-family: Poppins, sans-serif;
    box-shadow: 5px 4px 10px;
}
#sobremim{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
#imagecard{
    margin-left: 80px;
    padding: 50px;
   height: 300px;
   width: 300px;
}
